module.exports=` .zp134 {
    margin: 5px;
    height: calc(100vh - 10px);
    background: white;
    font-size: 14px;
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zp134 .top ul {
    margin-left: 9px;
}

.zp134 .type {
    margin: 5px 0;
}

.zp134 .type > span {
    margin-left: 70px;
}

.zp134 .type input {
    width: 400px;
    margin: 0 10px 0 0;
}

.zp134 ul {
    display: inline;
    overflow: auto;
    white-space: nowrap;
    padding: 9px 0;
    margin: 0;
}

.zp134 table {
    width: 595px;
    margin: 0;
    float: left;
}

.zp134 tbody {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    width: 100%;
}

.zp134 .detail {
    margin: 0 0 0 9px;
    float: left;
    width: calc(100vw - 710px);
    min-width: 350px;
}

.zp134 .jsoneditor {
    height: calc(100vh - 210px);
    border: 1px solid #ddd;
}

.zp134 .observer {
    height: 20px;
}

.zp134 tbody tr {
    cursor: pointer;
}

.zp134 tr.cur {
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#d2d2d2));
}

.zp134 tr {
    display: block;
}

.zp134 th,
.zp134 td {
    border: none;
    overflow: hidden;
}

.zp134 th:first-child,
.zp134 td:first-child {
    max-width: 300px;
    min-width: 300px;
}

.zp134 th:nth-child(2),
.zp134 td:nth-child(2) {
    max-width: 70px;
    min-width: 70px;
    text-align: right;
}

.zp134 th:nth-child(3),
.zp134 td:nth-child(3) {
    max-width: 85px;
    min-width: 85px;
}

.zp134 th:nth-child(4),
.zp134 td:nth-child(4) {
    width: 130px;
}

.zp134 .editorpop {
    width: 70vw;
    height: 80vh;
}

.zp134 .zbtn {
    margin-right: 9px;
    min-width: 50px;
}

.zp134 .zpopup .zbtn {
    position: absolute;
    right: 9px;
    bottom: 9px;
}

`